//Variables
$button-color: #333333;
$main-color: #333333;

// Styling
body {
  background-color: $main-color;
}

#header {
  background-image: url(../../images/background.png);
  border-radius: 10px;
  height: 230px;
  padding: 170px 0 0 0;
  #main-header {
    text-align: center;
    font-size: 60px;
    margin: 0;
    background-color: #E4180F;
    color: #FFFFFF;
  }
  p {
    text-align: center;
    background-color: #3C3C3C;
    margin: 10px auto 0 auto;
    color: #FFFFFF;
  }
}

#post {
  background-image: url(../../images/post-bg.png);
  padding: 10px;
  margin: 10px auto;
  border-radius: 10px;
  #post-header, #content, #link {
    text-align: center;
    margin: 30px auto;
    color: $main-color;
  }
  #date {
    text-align: right;
    font-size: 10px;
  }
  #link {
    display: block;
    width: 100px;
    border: 1px solid $button-color;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    &:link, &:visited, &:active {
      background-color: $button-color;
      color: white;
      text-decoration: none;
    }
    &:hover {
      color: white;
      text-decoration: none;
      border: 1px solid #626262;
      background-color: #626262;
      -webkit-transition: all 0.2s linear 0s;
     -moz-transition: all 0.2s linear 0s;
     transition: all 0.2s linear 0s;
    }
  }
}
